/* Global Styles */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #0ecd76; /* Light gray background */
    color: white;
  }
  /* Global Styles */
main {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #a1f3cd; /* Light gray background */
    color: white;
    display: flex;
    justify-content: center; /* Center horizontally */
  }
  
  /* Card Styles */
  .card {
    width: 80%; /* Adjust width as needed */
    background-color: #0ecd76;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  .mb-3{
    width: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #a1f3cd; /* Light gray background */
    color: white;
    display: flex;
    justify-content: center; /* Center horizontally */
  }
  .content{
    width: 100vh;
  }
  /* Header Styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #54e3a2; /* Darker blue background */
    padding: 1rem;
    color: white;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
  }
  
  nav a:hover {
    color: #4bf3ce;
    text-decoration: none;
  }
  
  nav a.active {
    font-weight: bold;
    text-decoration: underline; /* Highlight active section */
  }
  
  /* Section Styles */
  section {
    padding: 2rem;
    width: 80%;
    margin: auto;
    
  }
  
  /* Contact Form Styles */
  form div {
    margin-bottom: 1rem;
    
  }
  
  form label {
    display: block;
    margin-bottom: 0.5rem;
    margin: 10px;
    
  }
  form{
    
  }
  
  form input, form textarea {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    
  }
  
  form button {
    display: flex;
    padding: 0.5rem 1rem;
    background-color: #54e3a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 45%;
  }
  
  form button:hover {
    background-color: #1a1c9c;
  }
  
  /* Footer Styles */
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54e3a2;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 20px;
    bottom: 0;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
  }
  
  footer a:hover {
    color: #eee;
  }
  
  section {
    margin-left: 8vw;
  }
  form input,
  form textarea {
    /* Change the width to a fixed value, for example, 300px */
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
  }
  .note {
    background-color: #0ecd76;
    border-radius: 5px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items from top to bottom */
    padding: 5px;
    margin: 5px; /* Add some space between items */
  }
  
  /* Example styling for the child elements */
  .note div {
    background-color: #54e3a2;
    border-radius: 5px;
  }  
  /* Media Query for screens less than 700px */
  @media (max-width: 700px) {
    /* Adjust section width and margin */
    section {
      width: 80%;
      margin: 10px 0;
      padding: 1rem;
    }
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
    }
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      padding-top: 40px;
    }
  }